#back
{
    background-color:rgb(38, 38, 240);
    padding: 0px;
    margin:0px;
    /* display:flex; */
    width: 65%;
}
#cardback
{
    background-color:white;
    width:300px;
    margin:20px 20px 20px 20px;
    border-radius: 10px;
}
button{
    background-color: rgb(54, 54, 223);
    margin-left:60px;
    margin-bottom:5px;
    width:170px;
    height:40px;
    border-radius: 20px;
    font-weight: bold;   
}
#text
{
    color:rgb(154, 153, 152);
}
#head
{
    background-color:rgb(240, 248, 255);
    text-align: center;
}
ul li{
    list-style: none;
    margin-top: 15px;
}
#disablebut
{
    background-color: rgb(146, 146, 196);
}
@media(min-width:450px)
{
    #back
{
    background-color:rgb(38, 38, 240);
    padding: 0px;
    margin:0px;
    display:flex;
    width: 65%;
}
#cardback
{
    background-color:white;
    width:300px;
    margin:20px 20px 20px 20px;
    border-radius: 10px;
}
button{
    background-color: rgb(54, 54, 223);
    margin-left:60px;
    margin-bottom:5px;
    width:170px;
    height:40px;
    border-radius: 20px;
    font-weight: bold;   
}
#text
{
    color:rgb(154, 153, 152);
}
#head
{
    background-color:rgb(240, 248, 255);
    text-align: center;
}
ul li{
    list-style: none;
    margin-top: 15px;
}
#disablebut
{
    background-color: rgb(146, 146, 196);
}
}
